<% layout('layout') -%>
<form method="post" action="/createaccount" class="form-signin" role="form">
    <div id="messageArea">
	<% if (signupMessage.length > 0) { %>
		<div class="alert alert-danger"><%= signupMessage %> </div>
	<% } else { %>
        	<h2 class="form-signin-heading">Create your account</h2>
    <% } %>
    </div>
    <input type="email" class="form-control" placeholder="Your email" name="email" required autofocus>
    <input type="password" class="form-control" placeholder="Password" name="password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" name="password2" required>
    <button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>
 <script type="text/javascript">
 
 </script>
