body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.content {
  margin-top: 15px;
}

.config-form {
  width: 60%;
  margin: 0 auto;
}
.config-form div input, .bootstrap-switch {
  margin-bottom: 10px;
}

.table-responsive {
  /* overflow-x: hidden; !impotant */
}

.footer {
  margin-top: 50px;
}

.panel-body .table {
  margin-bottom: 15px !important;
}

.hideelement {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

#motionthread {
  width: 5em;
  display: inline;
}